{% extends "base.html" %}
{% block title %}
    Movies
{% endblock %}
{% block content %}
    <div class="container mt-4">
        {% for movie in movies %}
            <div class="row">
                {% include "movies/movie_preview.html" %}
            </div>
        {% endfor %}
    </div>
    <div class="pagination mb-4 d-flex justify-content-center">
        <span class="step-links">
            <a class="btn btn-primary" href="?page=1">&laquo; first</a>
            {% if movies.has_previous %}
                <a class="btn btn-primary" href="?page={{ movies.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                {{ movies.number }} of {{ movies.paginator.num_pages }}
            </span>

            {% if movies.has_next %}
                <a class="btn btn-primary" href="?page={{ movies.next_page_number }}">next</a>
            {% endif %}
            <a class="btn btn-primary" href="?page={{ movies.paginator.num_pages }}">last &raquo;</a>
        </span>
    </div>
{% endblock %}