{% extends "base.html" %}
{% block title %}
    Movies
{% endblock %}
{% block content %}
    <div class="container mb-4">
        {% for movie in movies %}
            <div class="row">
                {% include "movies/movie_preview.html" %}
            </div>
        {% endfor %}
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if movies.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ movies.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ movies.number }} of {{ movies.paginator.num_pages }}.
            </span>

            {% if movies.has_next %}
                <a href="?page={{ movies.next_page_number }}">next</a>
                <a href="?page={{ movies.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}