{% extends "base.html" %}
{% block title %}
    Movie recommendations
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row mt-4">
            {% if didRecommend %}
                {% for movie in movies %}
                    {% include "movies/movie_preview.html" %}
                {% endfor %}
            {% else %}
                <h5>Sorry, we couldn't find any relevant movies for you. Tell us more about your tastes.</h5>
            {% endif %}
        </div>
    </div>
{% endblock %}